:root {
    --colorPrincipal: #789DBC;
    --colorSecundario: #FFE3E3;
    --blanco: #FEF9F2;
    --verdePastel: #C9E9D2;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    background-color: var(--blanco);
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    font-weight: 600;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header header"
        "titulo titulo"
        "section section"
        "footer footer";
    }

/*header*/
.logo {
    width: 5.5rem;
}

.header {
    display: grid;
    place-items: center;
    font-size: 10px;
    padding-top: 1rem;
    grid-area: header;
    background-color: var(--verdePastel); 
}

.segundo__titulo {
    grid-area: titulo;
    padding: 1rem;
    margin-right: 25px;
    font-size: 16px;
    text-align: center;
}

  /*nav*/
  nav {
    display: none;
    grid-area: nav;
  }

  .nav__texto {
    font-weight: 600;
    font-size: 17px;
  }

  .titulo__categorias {
    margin-top: 1rem;
  }

  .toggle_menu {
    display: block;
    cursor: pointer;
    margin-bottom: 1rem;
  }

/*seccion cards*/
.seccion__cards {
    display: grid;
    grid-area: section;
    place-items: center;
}

.card {
    align-items: center;
    width: 300px; 
    background-color: var(--colorSecundario);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 1px 1px 13px 4px rgba(143, 143, 143, 0.77);
    }

.card__imagen {
    width: 70%;
    border: 2px solid #000;
    margin-left: auto;
    margin-right: auto; 
}

.descripcion__card {
    font-size: 15px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
}

/*boton*/
.boton {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 70px;
    padding: 1px;
    border-radius: 1rem;
    margin: 1rem auto;
}

/*footer*/
footer {
    grid-area: footer;
    padding: 15px;
    background-color: var(--verdePastel);
    box-shadow: 1px 1px 13px 4px rgba(143, 143, 143, 0.77);
}

.logo__footer {
    width: 50px;
    margin: 1rem;
}

.titulo__footer {
    text-align: center;
    font-size: 14px;
    margin-bottom: 1rem;
}

.footer__contenido {
    display: flex;
    flex-direction: column;
}

.texto__nav {
    text-align: center;
    margin: 7px;
    font-weight: bold;
}

.cont__footer {
    display: flex;
    justify-content: center;
}

.iconos__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    margin-top: 10px;
}
    

/* Versión tablet */
@media (min-width: 576px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "nav titulo"
        "nav section"
        "footer footer";
    }

    header {
        background-color: var(--verdePastel);
        width: 100%; 
        padding: 1rem; 
    }

    header .toggle_menu {
        display: none; 
    }

     /* barra de navegación */
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 155px;
        background-color: var(--colorPrincipal);;
        padding: 1rem;
        height: auto;
    }

    .nav__texto {
        display: flex;
        padding: 5px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .segundo__titulo {
        margin-top: 1rem;
    }

    /*seccion cards*/
    .seccion__cards {
        display: grid;
        margin-right: 2rem;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin-bottom: 1rem;
    }

    .card {
        margin: 1rem;
        width: 250px;
        height: 320px;
    }

    .card__imagen {
        width: 150px; 
        height: 150px;
        gap: 1rem;
    }
}

@media (max-width: 575px) { /* Definición para móviles */
    .nav {
        display: none; /* Oculta el aside en pantallas pequeñas */
    }
}


/*Version escritorio*/
@media (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas: 
        "header header"
        "nav titulo"
        "nav section"
        "footer footer";
    }

    /*header*/
    .logo {
        margin: 1rem;
    }

    .toggle_menu {
        display: none;
    }

    h1 {
        text-align: center;
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 30px;
        color: var(--colorTitulo);
        flex-grow: 1;
    }

    .segundo__titulo {
        font-size: 20px;
      }

    /*nav*/
    nav {
        display: flex;
        flex-direction: column;
        background-color: var(--colorPrincipal);
        padding: 60px;
      }

    .nav__texto {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: 500;
        transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    }

    header .toggle_menu {
        display: none; 
    }

    /*boton*/
    .boton {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;
        width: 70px;
        padding: 1px;
        border-radius: 1rem;
        margin: 1rem auto;
        transition: background-color 0.3s ease-out;
    }
    
    .boton:hover {
        background-color: var(--colorPrincipal);
    }
     
    /*Cards*/
    .seccion__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .card {
        margin: 0;
        box-shadow: 1px 1px 13px 4px rgba(143, 143, 143, 0.77);
    }

    .card__imagen {
        width: 200px; 
        height: 200px; 
        border: 2px solid #000;
        margin: 0 auto;
        filter: grayscale(100%);
        transition: filter 0.5s ease; 
        cursor: pointer;
    }
    
    .card__imagen:hover {
        filter: grayscale(0%); /* Cambia a color al pasar el cursor */
    }

    /*footer*/
    footer {
        padding: 15px;
        background-color: var(--verdePastel);
        box-shadow: 1px 1px 13px 4px rgba(143, 143, 143, 0.77);
        grid-area: footer;
    }
    
    .titulo__footer {
        text-align: center;
        font-size: 14px;
        margin: 1rem;
    }
    
    .footer__contenido {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .texto__nav {
        text-align: center;
        margin: 7px;
        font-weight: 500;
    }
    
    .cont__footer {
        display: flex;
        justify-content: center;
    }
    
    .iconos__footer {
        display: flex;
        cursor: pointer;
        justify-content: center;
        gap: 3rem;
        margin-top: 10px;
    }

}
